body{
        text-align: center;
        background-color: #FFEBB2;
}

h1{
        font-family: "Comfortaa", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 3rem;
        color: #912BBC;
}

p{
        font-family: "Architects Daughter", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 19px;
}

.firma{
        text-align: end;
}

#image{
        background-color: #DBAFA0;
                width: 100%;
                padding: 40px;  
}

#firma{
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
}
